[project]
	description = Fast linear-time implementation of the Burrows-Wheeler transform on plain text.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Liang (ericl)
[access "refs/for/refs/*"]
	read = group user/Eric Liang (ericl)
	push = group user/Eric Liang (ericl)
	label-Code-Review = -2..+2 group user/Eric Liang (ericl)
	label-Verified = -1..+1 group user/Eric Liang (ericl)
	rebase = group user/Eric Liang (ericl)
	removeReviewer = group user/Eric Liang (ericl)
	submit = group user/Eric Liang (ericl)
[access "refs/heads/*"]
	read = group user/Eric Liang (ericl)
	create = group user/Eric Liang (ericl)
	push = +force group user/Eric Liang (ericl)
	pushMerge = group user/Eric Liang (ericl)
[access "refs/tags/*"]
	push = +force group user/Eric Liang (ericl)
	pushTag = group user/Eric Liang (ericl)
	pushSignedTag = group user/Eric Liang (ericl)
